box {
    bottom: 0;
    right: 0;
    position: fixed;
    float: right;
    margin-left: 10px;
    display: block;
    box-sizing: border-box;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
}

